*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html{
    font-size: 62.5%;
}
  
body{
    background-color: #F0F8FF;
}

#main{
    display: flex;
    flex-wrap: wrap;
}

#title{
    margin-top: 2rem;
    text-align: center;
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    height: 2.5rem;
}

#img-div{
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
}

#image{
    max-width: 100%;
    display:block ;
    height: auto;
    margin: 0 auto;
} 

#img-caption{
    text-align: center;
    font-size: 1.5rem;
}

#tribute-info{
    background-color: #F0FFFF;
    margin-left: 2rem;
    margin-right: 2rem;
}

h3{
    margin-bottom: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.7rem;  
}

p{
    text-align: justify;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

#tribute-link{
color: black;
text-decoration: none;
}

h3  #tribute-link:hover{
    color: blue;
}

h3 #tribute-link:active{
    color: red;
}