#title{
    margin-top: 3rem;
    font-size: 4rem;
}

#img-div{
    margin-bottom: 3rem;
    margin-top: 3.7rem;
    width: 60rem;
}

#img-caption{
    font-size: 2.5rem;
}

#tribute-info{
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
}

h3{
    font-size: 2.7rem;
}

p{
    margin-bottom: 2rem;
    font-size: 2.5rem;
}